<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746139115922-8clpqo2q8tjop8jcocql3unoset1dgjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746139115922-8clpqo2q8tjop8jcocql3unoset1dgjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCHt3wX78wpm_sQ1hwz-c8WYDDoRkAxrO4</string>
	<key>GCM_SENDER_ID</key>
	<string>746139115922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohitvaliveti.Space-Scout</string>
	<key>PROJECT_ID</key>
	<string>spacescout-cc927</string>
	<key>STORAGE_BUCKET</key>
	<string>spacescout-cc927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746139115922:ios:b94a37de550d495664e14b</string>
</dict>
</plist>